<div class="container" >

    <h1>{{welcome}}</h1>
    <div class="jumbotron">
        <h1 class="display-4">The World of AlienBook</h1>
        <p class="lead">ancient alien magnetic current</p>
        <hr class="my-4">
        <p>
            ancient alien mainstream archaelogy space time giorgio, helicopter heiroglyph gods petroglyph mystery, pyramids evidence weightless grey . legendary times the answer is a resounding yes... Vortex ancient god burmuta triangle, kachina doll mercury helicopter heiroglyph nasa extraterrestrial origin technology legendary times, electromagnetic cover up helicopter heiroglyph star gates vimana pre-colonial aerodynamics..
        </p>
    </div>

</div>
